@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Noto+Sans+TC:wght@900&family=Poppins&family=Roboto:wght@500&display=swap");


:root {
  --bg: #E0FBFC;
  --sub1: #98C1D9;
  --sub2: #3D5A80;
  --text: #EE6C4D;
  --footer: #293241;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 13px;
  margin: 10px auto;
  margin-left: 350px;
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
